
body {
    background-color: #fdfce9;
    text-align: center;
}

header {
    font-size: 30px;
    border: 3px solid black;
    border-radius: 4px;
}

h1,
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

button {
    width: 10em;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 12px;
}

button:hover .initial-prompt {
    display: none;
}

button .shake {
    display: none;
}

button:hover .shake{
    display: inline;
    color: red;
}

.answer {
    position: absolute;
    width:8%;
    top:65%;
    left:50%;
    margin-top:-50px;
    margin-left:-50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
}

#magic8ball {
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: white;
}